---
import Layout from "../layouts/Layout.astro";
import estree from "./estree.json";
import SvelteContainer from '../components/SvelteContainer.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Estree explorer</span></h1>

		<ul role="list" class="link-card-flex">
			<SvelteContainer client:load estree={estree}></SvelteContainer>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	.link-card-flex {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0;
	}
	ul{
		list-style: none;
	}
</style>

<style is:global>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	a, .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>