---
import Layout from "../layouts/Layout.astro";
import estree from "./estree.json";
import SvelteContainer from "../components/SvelteContainer.svelte";
---

<Layout title="ESTree Explorer">
	<main>
		<div class="header">
			<h1>
				Welcome to <span class="text-gradient">ESTree explorer</span>
			</h1>
			<a href="https://github.com/philipflyvholm/estree-explorer"
				><img src="./GitHub-Mark-Light-32px.png" width="32px" height="32px" alt="Github logo" />
			</a>
		</div>

		<ul role="list" class="link-card-flex">
			<SvelteContainer client:idle estree={estree} />
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		width: 100%;
    	word-break: break-word;
		box-sizing: border-box;
	}
	.link-card-flex {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0;
	}
	ul {
		list-style: none;
	}
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
    	flex-wrap: wrap;
	}
</style>

<style is:global>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	a,
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	pre code{
		display: block;
		overflow-x: auto;
	}
</style>
